@import './cssVariable.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $commonfntFmly;
  text-decoration: none;
}

.App {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: $commonFntSize;
  width: 100vw;
}

.PageContent {
  width: 100%;
  margin-top: 65px;
  z-index: 9;
  padding: 10px 20px;
  .bgCover{
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.3);
    height: 93%;
    overflow: hidden;
    position: relative;
  }

}
.adHgt{
  height: calc(100vh - 140px);
}

.TBtn {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: inset -0.5px -0.5px 1px rgba($color: #000000, $alpha: 0.25);
  border-radius: 3px;
}

.TBtn:hover {
  box-shadow: inset 0.5px 0.5px 1px rgba($color: #000000, $alpha: 0.25);
  background-color: $primary-color !important;
  color: $white-color;
}

tr {
  border-left: 1px solid $light-color;
  border-right: 1px solid $light-color;
}




.quickpopup{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  background: rgba($color: #000000, $alpha: 0.7);
  .quickpopupDesign{
    background-color: $white-color;
    min-width: 30%;
    text-align: center;
    .OkBtn{
      width: 50px;
      height: 50px;
      background-color: $primary-color;
      color: $white-color;
      font-family: $capFntFmly;
      font-size: 32px;
    }
  }
}

.App::-webkit-scrollbar, 
.adHgt::-webkit-scrollbar, 
.visualHgt::-webkit-scrollbar,
.PageContent::-webkit-scrollbar{
  background-color:$lightLogo1-color;
  width: 5px;
  border-radius: 30px;
}
.noScrollbar::-webkit-scrollbar{
  background-color:$lightLogo1-color;
  width: 0px;
  border-radius: 30px;
}

.App::-webkit-scrollbar-thumb {
  background-color:$lightLogo1-color;
  border-radius: 30px;
}
*::-webkit-scrollbar:hover {
  width: 0px;
  transition: width 0.5s ease-in;
  
}
*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.tooltip-container{
  position: relative;
  display: inline-block;
}
.tooltip{
  position: absolute;
  top: calc(-100% - 50px);
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
  min-width: max-content;

}

.headlineBtn{
  background-color: rgb(79 70 229);
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  font-family: $FntFmlysSemiBold;
  display: flex;
  align-items: center;
  gap: 5px;
}
.headlineBtn:hover{
  background-color: rgb(67 56 202 );
}

.PageTitle{
  font-size: 1.5em;
  font-family: $FntFmlysSemiBold;
}

td, th {
  text-align: left;
  padding: 10px;
}
th {
  text-align: left;
  padding: 10px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #d9d9d9;
}
tr:nth-child(even){
  background-color: #fafafa;
}
.pagination-bottom{
  span{
    ul{
      display: flex;
      gap: 10px;
      li{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
      li:nth-child(odd){
        border: 1px solid #d9d9d9;
            }
      li:nth-child(odd):hover{
        background-color: #d9d9d9;
        border: 1px solid #d9d9d9;
        cursor: pointer;
            }
    }
  }
}

.tableBtn{
  font-size: 1.2em;
  color:#212121;
  padding: 5px;
  background-color: #d9d9d9;
  margin-right: 15px;
  border-radius: 5px;
}
.tableBtn:hover{
  font-size: 1.2em;
  color:#ffffff;
  padding: 5px;
  background-color: #5f5f5f;
  margin-right: 15px;
  border-radius: 5px;
}

.filterBtn{
  padding: 5px 10px;
  border-right: 1px solid #d9d9d9;
}
.filterBtn:first-child{
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
}
.filterBtn:last-child{
  border-bottom-right-radius: 10px;
  border-right: none;
}
.filterBtn:hover{
  background-color: #F5F5F5;
}

.allfil{
  border: 1px solid rgb(212 212 212 );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0px;
}
.filSave{
  border: 1px solid #d9d9d9;;
  padding: 5px 15px;
  margin-right: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.filSave:hover{
  background-color: #F5F5F5;
}


.mOptn:hover{ 
  .SubOptn{
    display: block;
  }
}
.mOptn{ 
  .SubOptn{
    display: none;
  }
}
.blrBG{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}



.visualHgt{
  height: calc(100vh - 65px);
}

.stepper-container {
  margin: 10px;
}
.stepper-item {
  padding: 5px;
}
.stepper-icon-container {
  display: flex;
  align-items: center;
}
.stepper-icon {
  width: 26px;
  height: 26px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepper-icon-label {
  margin-left: 10px;
}
.stepper-item-body {
  padding: 5px 5px 5px 20px;
  border-left: 2px solid black;
  margin: 3px 13px;
  height: auto;
}

.disabledClass {
  opacity: 0.4;
}
.stepper-btn {
  margin-right: 10px;
}

div[disabled] {
  pointer-events: none;
  opacity: 0.4;
  filter: alpha(opacity=50);
  zoom: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
}

/*-------- Customize styles -------*/
.stepper-active .stepper-icon {
  background-color: blue;
  border: none;
  color: white;
}

.stepper-active .stepper-item-body {
  border-left-color: blue;
}
